html {
    font-size: 14px;
}
@media (min-width: 544px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 28px;
    }
}

body{
    color: rgba(0, 0, 0, 0.85);
}
input{
    border: none;
    display: inline-block !important;
    width: 4rem;
}
.controls{
    font-size: 2rem;
}
#circle__wrapper{
    position: relative;
}
#inner{
    position: absolute;
    width: 80%;
    left: 10%;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}
#start-msg:hover{
    color: rgb(0, 190, 0);
}
#outer{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /* border: 1px solid rgb(0, 0, 255); */
    border-radius: 50%;
}
input:focus{
    background-color: rgba(0, 255, 0, 0.05);
}
/* validate input classes */
.input-error{
    outline: none;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.15) !important;
}
.alert-warning, #timer, #stop-msg, #work-indicator__wrapper, #break-indicator__wrapper{
    display: none;
}
.controls span{
    cursor: pointer;
}
.increment:hover, .decrement:hover{
    color: rgb(0, 190, 0);
}
#start-msg{
    font-size: 4rem;
    font-weight: lighter;
}
#timer{
    font-size: 4rem;
    font-weight: 300;
}
/* work session style */
body[data-session="work"]{
    color: white;
    background-color: black;
}
body[data-session="work"] #settings__wrapper{
    display: none;
}
body[data-session="work"] #start-msg{
    display: none;
}
body[data-session="work"] #timer,
body[data-session="work"] #stop-msg,
body[data-session="work"] #work-indicator__wrapper{
    display: block;
}

/* break session style */